#menuButton {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  border:2px solid #666;
  background-color: yellow;
}

#menuButton, .option, #closeMenuButton {
	cursor: pointer;
  	text-align: center;	
}

#cajaMenu {
	text-align: center;
}

.option{
	margin:10px;
	border-radius: 20px;
	padding:12px; 
	border:2px solid #666; 
	width:80px; 
	margin-right: auto; 
	margin-left: auto;
	display: inline-block;
}

.option:hover {
	background-color: white;
}

a .option {
	margin-right: 1em;
	background-color: #FFC072;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#divMenu {
	/*width: 200px;*/
	float:left;
}

#closeMenuButton {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	border:2px solid #666;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

#imagenAboutme, #imagenGit, #imagenLink, #imagenProjects, #imagenArt {
	position: absolute;
}