body {
	background-color: #D8D388;
}

.caja {
	box-shadow: 10px 10px 5px #888888;
	border-radius: 25px;
	text-align: center;
	padding: 2em;
	background-color: #037BD8;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left:2em;
	margin-right:2em;
}

.texto {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.titulo {
	font-family: "Arial Black", Gadget, sans-serif;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

